<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>_TONAZZI_INC</title>
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <script>
            setTimeout(function(){
                const element = document.getElementById("meme");
                element.remove();
            }, 2000);
        </script>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <br>
                <br>
                <br>
                <div class="box" id="meme">
                    <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="static/face.png" alt="alec"/>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <strong>Alec Tonazzi</strong> <small>@altonazzi</small> <small>33m</small>
                            <br/>
                            what up fam
                        </p>
                        </div>
                        <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" aria-label="reply">
                            <span class="icon is-small">
                                <i class="fas fa-reply" aria-hidden="true"></i>
                            </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
                            <span class="icon is-small">
                                <i class="fas fa-retweet" aria-hidden="true"></i>
                            </span>
                            </a>
                            <a class="level-item" aria-label="like">
                            <span class="icon is-small">
                                <i class="fas fa-heart" aria-hidden="true"></i>
                            </span>
                            </a>
                        </div>
                        </nav>
                    </div>
                    </article>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            Apartment
                        </p>
                    </div>
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images1.apartments.com/i2/OKaKVAduA2aDa-ZNcFpuThEJu5SO1bW_6SD3Kw_GTPA/117/brookview-at-middletown-louisville-ky-birds-eye-view-pool-and-community.jpg">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="static/face.png" alt="alec">
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4">Alec Tonazzi</p>
                        <p class="subtitle is-6">@altonazzi
                        </p>
                        </div>
                    </div>
                    <div class="content">
                        <button class="button is-large is-fullwidth" onClick="window.location.href='https://www.brookviewatmiddletown.com/'">Go to Website</button>
                        <br>
                        <button class="button is-large is-fullwidth" onClick="window.location.href='https://www.google.com/maps/place/Brookview+at+Middletown+Apartments/@38.2475263,-85.5164778,15z/data=!4m5!3m4!1s0x0:0x54e7e8b9583bbd64!8m2!3d38.2475263!4d-85.5163061/'">Go to Google Maps</button>
                    </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            Amazon List
                        </p>
                    </div>
                    <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://www.doorwaysva.org/wp-content/uploads/2019/06/amazon-logo.png">
                    </figure>
                    </div>
                    <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="static/face.png" alt="alec">
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4">Alec Tonazzi</p>
                        <p class="subtitle is-6">@altonazzi</p>
                        </div>
                    </div>
                    <div class="content">
                        <button class="button is-large is-fullwidth" onClick="window.location.href='https://www.amazon.com/hz/wishlist/ls/JCUMDRNZKK2Q?ref_=wl_share'">Go</button>
                    </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </body>
</html>